.Bgbanner{
    background-image: url('../../../../public/manole/perfil/bg_painel.webp');
    height: 508px;
    padding-top: 105px;
    background-size: 120vw 200%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
}





.text_perfil{
    margin-bottom: 50px;
}

.text_perfil h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin: 0px;
    line-height: 34px;
    /* identical to box height */ 
    /* TEXT COLORS/Pure - 500 */ 
    color: #353535;
    margin-bottom: 12px;
}

.text_perfil p{
    margin: 0px;
    /* 20px/Regular */ 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height */


    /* TEXT COLORS/Pure - 500 */

    color: #353535;
}

.max_container_banner{
    max-width: 1100px;
    margin-bottom: 20px;
}

.max_img_container{
    width: 100% !important;
    max-width: 57% !important;
    min-width: 57% !important;
}


.tamanho_image_banner_circle{
    width: 100%;
    max-width: 350px;
    position: relative;
    top: -5px;
    margin-left: auto;
    margin-right: 0px;
 
}

.img_item{
    display: block;
    
    margin-left: auto;
    left: 10%;
    position: relative;
}

.item1_b2, .item2_b2, .item3_b2{
    position: relative;
    
}

.item1_b2{  
    top: 50px;
    margin-left: 0%;
}

.item2_b2{ 
    margin-left: -20%;
    top: 80px;
}

.item3_b2{ 
    margin-left: 0%;
    top: 130px;
}

@media (max-width:959px){

    .Bgbanner{ 
        height: auto;
        padding-bottom: 50px;
    }
        .max_img_container{
            margin-top: -35px; 
            width: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
    }

    



    .tamanho_image_banner_perfil{
        position: relative;
        top: 50px;
    }

    .tamanho_image_banner_circle{
        width: 100%;
        max-width: 300px;

    }
 
    .text_down{
        margin-top: 50px;
    }
 
}


