.contador{
    background: red;
    color: #fff;
    padding: 0.1em 0.6em;
    font-size: 0.6em;
    border-radius: 1em;
    position: absolute;
    right: -1em;
    bottom: 0px;
}

.btn_pure{
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
}