.container_painel {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 1em 1.5em;
  margin: 0px auto;
  overflow: auto;
  position: relative;
}

.padding_top_large {
  box-sizing: content-box;
  padding-top: 8em;
  background-color: #fafafa;
}

.breadcrumb a,
.breadcrumb span {
  color: #000;
  font-size: 0.9em;
}

.container_painel_enventos {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  padding: 1em 1.5em;
  margin: auto;
  overflow: visible !important;
  position: relative;
}

.container_form .label_circle {
  font-size: 0.8em;
  color: #000;
}

.container_form input {
  border: #045bc8;
}

.padding_l_r {
  box-sizing: content-box;
  padding: 0px 1em;
}

.informacoes_perfil {
  /* 24px/bold */
  color: #353535;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.voltar_perfil {
  font-size: 0.8em;
}


.accordion_title {
  font-weight: 500;
  color: #000;
  font-size: 1em;
  text-decoration: none !important;
}

.accordion_title:hover {
  text-decoration: none !important;
}

.item {
  border-bottom: 0px solid #ccc;

}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1em 0rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  text-align: left;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 0rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}