.container_painel {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 1em 1.5em;
  margin: 0px auto;
  overflow: auto;
  position: relative;
}

.padding_top_large {
  box-sizing: content-box;
  padding-top: 2em;
  background-color: #fafafa;
}

.breadcrumb a,
.breadcrumb span {
  color: #000;
  font-size: 0.9em;
}

.container_painel_enventos {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  padding: 1em 1.5em;
  margin: auto;
  overflow: visible !important;
  position: relative;
}

.container_painel_enventos::before {
  content: '';
  position: absolute;
  height: 500px;
  left: -490px;
  bottom: 0px;
  width: 500px;
  background-color: #fff;
  z-index: 2;
}

/*
.container_painel_enventos{
    box-sizing: border-box;
    width: calc(100% -18%);
    max-width: auto; 
    padding: 1em 1.5em;
    margin: 0px; 
    overflow: hidden !important; 
    margin-left:  18%;
    margin-right: 0px;
}*/

.widht_100Over {
  width: 100%;
  overflow-x: hidden !important;
}


.box_start {
  max-width: 250px;
  width: 100%;
  align-items: center;
  display: flex;
}

.star_content {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('../../../../public/manole/perfil/star.svg');
  color: #fff;
  font-size: 0.8em;
  text-align: center;
}

.large_star {
  width: 6rem;
  height: 6rem;
  font-size: 1.4em;
}

.small_star {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.6em;
}

.star_content span {
  position: relative;
  top: 0em;
}
.barcontent {
  position: relative;
}

.barcontentColor {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(90deg, #ef7d52 0%, #49c5b1 100%);
  border-radius: 2px;
  height: 5px;
}

.barcontent:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0px;
  left: 0px;
  background-color: #ccc;
  border-radius: 2px;
}

.ex {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
}

.para_nivel {
  color: #888;
  font-size: 0.8em;
}

.padding_l_r {
  box-sizing: content-box;
  padding: 0px 1em;
}

.ex span {
  position: relative;
  top: -3px;
  font-size: 0.6em;
}

.box_star_small .ex {
  font-size: 0.7em;
}

.box_star_small .ex span {
  font-size: 0.6em;
}

.box_star_small .para_nivel {
  font-size: 0.6em;
}

.box_star_small .padding_l_r {
  padding-left: 0px;
  padding-right: 2em;
}

.color_azul {
  color: #110982;
}

.color_preta {
  color: #000;
}



.container_form > div {
  margin-bottom: 30px;
}



.container_form svg {
  color: #045bc8;
}

.informacoes_perfil {
  /* 24px/bold */
  color: #353535;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.box_experiencia {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card_branco {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.15);
  padding: 1em 1.5em;
  box-sizing: border-box;

  display: flex;
}

.nivel_text {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
}

.total_text {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  color: #110982;
  position: relative;
}

.total_text span {
  position: relative;
  top: -3px;
  right: 0px;
  font-size: 0.5em;
}

.ranking {
  margin: 0px;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
}

.nivel_star_bg {
  display: flex;
  justify-content: center;
}

.ranking_bg {
  display: flex;
  justify-content: flex-start;
}

.users_ranking {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.raking_img_user {
  height: 2.4em;
  width: 2.4em;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 0px;
}

.raking_img_user.big {
  height: 3em;
  width: 3em;
  border: 0.1em solid #045bc8;
}

.pincipal_user {
  position: relative;
  top: -0.3em;
}

.number_ranking {
  font-size: 0.9em;
  font-weight: 500;
}

.experienc_ranking {
  font-size: 0.5em;
  text-align: center;
  font-weight: 500;
  color: #aaa;
}

.box_margin_top {
  position: relative;
  top: 0.6em;
  width: 100%;
}

.barra_login {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 0.9em;
  background-color: #f8c3af;
  border-radius: 0.5em;
  margin-bottom: 8em;
}

.barra_login > div {
  position: relative;
  padding-bottom: 3em;
}

.barra_login > div:after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: -0.3em;
  background-color: #f29977;
  left: -0.75em;
  border-radius: 50em;
}

.barra_login > div:before {
  content: '';
  position: absolute;
  width: 0.2em;
  height: 3em;
  top: 2em;
  background-color: #f29977;
  left: calc(-0.1em - 50%);
}

.barra_login > div span {
  width: 8em;
  position: absolute;
  display: block;
  font-size: 0.7em;
  left: calc(50% - 3.5em);
  top: 7.4em;
  text-align: left;
}

.card_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #353535;
}

.text_msg > div > div {
  font-size: 0.7em;
  text-align: center;
  margin-top: 1em;
  color: #045bc8;
  font-weight: 500;
}

/*acordion*/

.item {
  border-bottom: 1px solid #ccc;

}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #000;
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}